/* .btn-style{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */
button:disabled {
  color: #000;
  background-color: #ccc;
  cursor: not-allowed;
}