.signle-post-container {
  width: 80;
  border: 3px solid #e5cfcf;
  box-sizing: border-box;
  box-shadow: white;
  margin: 35px;
  position: relative;
}

.btn-position{
  position: absolute;
  right: 2px;
  top: 5px;
}

h4,h3{
  padding-left: 10px;
}

img {
  border: 2px solid #fff;
  border-radius: 50%;
}

.img-container{
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
}
.name-container{
  position: absolute;
  left: 141px;
  top: 185px;
}
.previous-btn {
  float: left;
  margin: 10px;
  width: 150px;
  height: 38px;
  background-color: #6a6b71;
  color: white;
}
.next-btn {
  float: right;
  margin: 10px;
  width: 150px;
  height: 38px;
  background-color: #6a6b71;
  color: white;
}

.btn-txt{
  font-size: 16px;
  font-weight: bold;
}

button:disabled{
 color:gray;
 cursor: not-allowed;
}

.val-line{
  border-left: 1px solid black;
  height: 600px;
}

.edit-btn{
  padding: 10px;
  cursor: pointer;
}

.delete-btn{
  padding: 10px;
  cursor: pointer;
}

.save-log:hover {
  color: aqua;
}

.previous {
  background-color: #e5cfcf;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.previous:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.signleBlog-form{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: none;
  border: none;
  background-color: #fafafa;
}

.no-blog {
  text-align: center;
  /* width: 100%; */
  margin: 17% 0px;
}
/* a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
} */