.blog-details-container{
  width: 20%;
  height: 220px;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  overflow: auto;
  flex: 0 1 24%;
}

.blog-title {
  padding: 0px;
  font-size: 20px;
  font-family: sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.blog-content {
  font-weight: 500;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}